#cardGrid {
    display: grid;
    grid-template-rows: repeat(2, 1fr); /* Two rows with equal height */
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    gap: 20px; /* Gap between cards */
    padding: 20px;
}
h1 {
    text-align: center;
    color: #583434;
}
.card {
    border: 1px solid #bef6ff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color: #bef6ff;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}
body{
    background: #c4a2a1;
  }
.card p {
    text-align: justify;
    color: #f7a1d5;
}
.card h2 {
    text-align: center;
    color: #e57583;
}
.card .button-container {
    margin-top: auto; /* Push the button to the bottom */
}

.card button {
    background-color: #854855;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none; /* Remove default underline for anchor tag */
    display: inline-block; /* Make it behave like a block element */
  
}

.card button:hover {
    background-color: #fff1e5;
    color: black;
}
.card p:hover {
    background-color: #fbbcd8;
    color: white;
}
